body{
      font-family: "Rubik", sans-serif;
  background-color: #f7f7f8;
  padding-top: 80px;
}

.custom-check {
    background-color: #f7f7f8;
    border: 1px solid #d9d9de !important;
    border-radius: 33px !important;
    padding: 6px 12px !important;
    cursor: pointer !important;
    position: relative !important;
    margin: 3px;
    color: #000;
  }

  .btn-check:checked + .custom-check {
    background-color: #7c3aed;
    color: #fff;
    border-color: #7c3aed;
  }

  .btn-check:checked + .custom-check::before {
    content: "✓";
    position: absolute;
    right: 12px; 
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #fff;
  }

  .btn-check:checked + .custom-check {
    padding-right: 28px !important;
  }
  .hotel-rooms{
        display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
  }
  .hotel-room{
    background-color: #fff;
    border: 1px solid #d9d9de;
    border-radius: 16px;
    padding: 12px;
  }
  .rightt{
        height: 32px;
    width: 32px;
    background-color: var(--almatar-secondary-surface);
    padding: 3px;
    border-radius: 8px;
  }
  .leftt{
         height: 32px;
    width: 32px;
    background-color: var(--almatar-secondary-surface);
    padding: 3px;
    border-radius: 8px;
  }
  .hotel-backage-rooms{
    display: flex;
    align-items: center;
    gap: 16px;
    background-color: #d9d9de;
    border-radius: 8px;
    padding: 10px 12px;
  }
  .card-header{
    padding: 0px 10px !important;
  }
  .card-header span{
    font-size: 14px !important;
  }
  .location-box{
    width: 30px;
    max-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#d9d9de;
    padding: 4px;
    border-radius: 8px;
    margin-inline-end: 8px;
  }
  .list-group-item:hover{
    background-color: transparent;
  }
   .custom-scroll::-webkit-scrollbar {
    width: 6px; 
  }

  .custom-scroll::-webkit-scrollbar-track {
    background: #efe5ff; 
    border-radius: 10px;
  }

  .custom-scroll::-webkit-scrollbar-thumb {
    background-color: #7c3aed; 
    border-radius: 3px;
      min-height: 50px !important;
  }

  .custom-scroll::-webkit-scrollbar-thumb:hover {
    background-color: #6b2fd4; 
  }


.restList {
  width: calc(31.333% - 10px); 
}

  @media (max-width: 767px) {
    .search-btn {
      position: static !important;
      width: 100%;
      margin-top: 10px;
      transform: none !important;
    }

    .main-container {
      padding-bottom: 1rem;
    }
    .zahab-box{
        width: 40%;
    }
    .leftsside{
      margin-top: 10px;
    }
    .restList {
  width: calc(28.333% - 10px); 
  font-size: 12px !important;
}
  }
  .restList {
    margin-top: 20px;
  }
 .form-select:focus{
      border-color: transparent !important;
    outline: 0 transparent !important;
    box-shadow:0 !important;
 }
     .dropdown-custom {
      position: relative;
      width: 220px;
    }

    .dropdown-toggle-custom {
      width: 100%;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 6px;
      padding: 8px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: all 0.2s ease;
    }

    .dropdown-toggle-custom:hover {
      background-color: #f9f9f9;
    }

    .dropdown-menu-custom {
      display: none;
      position: absolute;
      top: 110%;
      right: 0;
      width: 100%;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 6px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      z-index: 10;
    }

    .dropdown-menu-custom.show {
      display: block;
    }

    .dropdown-menu-custom li {
      padding: 8px 12px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      transition: background-color 0.2s ease;
    }

    .dropdown-menu-custom li:hover {
      background-color: #efe5ff; 
    }

    .dropdown-menu-custom li.active {
      background-color: #7c3aed;
      color: white;
    }
 .custom-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 3px;
  margin: 0;
  list-style: none; 
}

.custom-list li {
  position: relative;
  padding-left: 15px; 
  font-size: 13px;
}

.custom-list li::after {
  content: "•";
  position: absolute;
  left: 100%;
  top: 50%;
  transform: translateY(-50%);
  color: #007bff; 
  font-size: 40px; 
  line-height: 1;
}
